* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    width: 960px;
    background-color: white;
    margin: 0 auto;
    padding: 0 0 0 0;
}

.content {
    background-image: url("../images/background/circles-light.png");
    min-height: 100%;
    margin-bottom: -50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #666666;
    color: white;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    padding-top: 25px;
}

.push {
    height: 75px;
}

small {
    padding-top: 20px;
}

.mainsec {
    padding: 20px 0;
}

.container {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    line-height: 1.50;
}

header {
    border-bottom: 3px solid #cccccc;
    background-color: white;
}

.clearfix {
    *zoom: 1;
    clear: both;
}

.clearfix::before,
.clearfix::after {
    height: 0;
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

header h1 {
    background-color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    color: white;
    width: 22%;
    margin: 0 0 0 10%;
    text-align: center;
    line-height: 1.9;
    float: left;
}

nav {
    float: right;
    width: 25%;
    margin: 0 10% 0 0;
    line-height: 3;
}

a:link, a:visited{
    color: grey;
    margin: 0;
}


div.linkright {
    padding: 0 0 0 4px;
    margin: 10px 0 0 0;
    line-height: 2;
    display: inline-block;
}

div.floatright {
    float: right;
}

div.rp {
    padding-right: 4px;
}

input[type=submit] {
    background-color: #4aaaa5;
    width: 80px;
    height: 35px;
    color: white;
    border: none;
}

input[type=submit]:hover {
    background-color: #3e8e8a;
}

.placed {
    position: relative;
    float: left;
    margin: 20px 30px 0 0;
}

.smallbanner {
    background-color: #4aaaa5c0;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    line-height: 1.5;
    bottom: 20px;
    z-index: 1;
}

.stretch {
    width: 100%;
    border-bottom: 3px solid #cccccc;
    margin: auto;
}

.minicontainer {
    width: 94%;
    padding-bottom: 30px;
    margin: auto;
}

.pagename {
    line-height: 2;
    color: #4aaaa5
}

.profilepic {
    margin: 20px 20px 20px 0;
    width: 200px;
    float: left;
}

.pmargin {
    margin: 18px 0 0 0;
}

.contactform {
    margin: 20px 0 0 0;
    font-size: 18px;
}

input[type=text], .messagebox {
    margin: 0 0 15px 0;
    width: 100%;
    padding: 6px 2%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px, solid, lightgrey;
}

label {
    margin-bottom: 6px;
}

input[type=text]:focus, .messagebox:focus {
    border: 4px solid darkgrey;
    outline: none;
}

.messagebox {
    resize: vertical;
    height: 200px;
}

img {
    width: 190px;
}

@media only screen and (max-width: 640px) {
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        margin-top: 0;
    }

    header h1 {
        width: 100%;
        margin-left: 0;
        float: none;
        margin-top: 0;
    }

    nav {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-bottom: 5px;
    }

    div.floatright {
        float: none;
    }

    .contactform {
        margin-left: 10px;
    }
    
    .placed {
        width: 90%;
        margin-left: 5%;
        margin-right: auto;
    }

    .stretch {
        width: 95%;
    }

    img{
        width: 100%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    html {
        width: 100%;
    }

    body {
        height: 100%;
        width: 100%;
    }

    header h1 {
        width: 35%;
        margin-left: 2.5%;
    }

    nav {
        width: 35%;
        margin-right: 2.5%;
    }
    
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
    body {
        width: 100%;
    }

    header h1 {
        width: 30%;
        margin-left: 5%;
    }

    nav {
        width: 30%;
    }

    .container {
        width: 66%;
        margin-left: 5%;
    }

    .content {
        margin-bottom: -56px;
    }

    .placed {
        width: 46%;
        margin-right: 0;
    }

    .placed-l {
        float: left;
    }

    .placed-r {
        float: right;
    }

    .re-img { 
        width: 100%;
    }
}